<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievementquarter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{666,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,120}}</string>
                <key>sourceSize</key>
                <string>{666,120}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,337},{650,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,208}}</string>
                <key>sourceSize</key>
                <string>{650,208}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1005},{62,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,8}}</string>
                <key>sourceSize</key>
                <string>{62,8}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,989},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>carrotplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,989},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>deadcarrotplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,989},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>deadheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,337},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>dog-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,783},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>dog-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,566},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>dog-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,491},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>dog-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,414},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>dog-laugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,337},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{499,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,333}}</string>
                <key>sourceSize</key>
                <string>{499,333}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,360},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>heartplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,989},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>powerplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,989},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{68,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,13}}</string>
                <key>sourceSize</key>
                <string>{68,13}</string>
            </dict>
            <key>rabbit-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,783},{74,69}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,859},{68,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{68,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,929},{70,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,935},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,712},{78,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,641},{78,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>rabbit-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,860},{74,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.pvr</string>
            <key>size</key>
            <string>{512,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df24d004774f4ccf9da41440f9e3128e$</string>
            <key>textureFileName</key>
            <string>game.pvr</string>
        </dict>
    </dict>
</plist>
