<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievementquarter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{1331,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1331,239}}</string>
                <key>sourceSize</key>
                <string>{1331,239}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,670},{1300,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1300,416}}</string>
                <key>sourceSize</key>
                <string>{1300,416}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{125,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,16}}</string>
                <key>sourceSize</key>
                <string>{125,16}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1972},{57,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,125}}</string>
                <key>sourceSize</key>
                <string>{57,125}</string>
            </dict>
            <key>carrotplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1972},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>deadcarrotplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1972},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>deadheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2003},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>dog-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1109},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>dog-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,823},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>dog-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,823},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>dog-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,670},{161,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,151}}</string>
                <key>sourceSize</key>
                <string>{161,151}</string>
            </dict>
            <key>dog-laugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,670},{161,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,151}}</string>
                <key>sourceSize</key>
                <string>{161,151}</string>
            </dict>
            <key>front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,666}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,666}}</string>
                <key>sourceSize</key>
                <string>{998,666}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2003},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>heartplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1972},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>powerplant.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1972},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,47}}</string>
                <key>sourceSize</key>
                <string>{78,47}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2003},{135,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,26}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>rabbit-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1262},{146,136}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,136}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1401},{136,136}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{136,136}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1257},{142,146}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{142,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1400},{136,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{136,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,971},{156,136}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{156,136}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,971},{156,136}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{156,136}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>rabbit-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1109},{146,146}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-hd.pvr</string>
            <key>size</key>
            <string>{1020,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19da93c770581a270bcba4e825c1cc6e$</string>
            <key>textureFileName</key>
            <string>game-hd.pvr</string>
        </dict>
    </dict>
</plist>
